/* ==========================================================================
  Variables
========================================================================== */

$main-font:'Source Sans Pro', sans-serif;
$header-font: 'Open Sans Condensed', sans-serif;
$subheader-font: 'Oranienbaum', serif;

$new-blue: #343844;
$cloud-blue: #495B73;
$new-green: #2AB69D;
$new-red: #E65848;
$new-yellow: #FDC536;
$new-beige: #FCF2D7;
$lighter-blue: #60687e;
$hover-color: #598C42;
$lighter-green: lighten($hover-color, 3%);